table {
    width: 100%;
    border: solid 1px;
} 

header {
float: right;    
}

table {
    width: 60%;
}

td {
    border: solid 2px
}


th {
    background-color: rgb(190, 211, 190);
}


td, th {
    border: solid 1px
    }

tr {
    background: gold;
}

.total {
    text-align: right;
    padding: 5px;
}

;


th {
    background-color: rgb(190, 211, 190);
}
